body {
    background-image: url("https://images.alphacoders.com/864/thumb-1920-864502.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* #quizBody {
    background-image: url("./images/SWXwingHangarBay.png")
} */
    
#quizBody {
    min-height: 200px;
}

/* #timer {
    color: whitesmoke;
}  */